---
Checks:         
  - clang-diagnostic-*
  - clang-analyzer-*
  - bugprone-*
  - cert-*
  - hicpp-*
  - performance-*
  - readability-*
  - modernize-* 
  - cppcoreguidelines-*
  - misc-* 
  - -hicpp-special-member-functions
  - -cppcoreguidelines-non-private-member-variables-in-classes
  - -readability-identifier-length
  - -modernize-use-trailing-return-type
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: {1, 2, 3, 4, 5}
...

