---
Checks:         
  - clang-diagnostic-*
  - clang-analyzer-*
  - bugprone-*
  - cert-*
  - hicpp-*
  - -hicpp-special-member-functions
  - performance-*
  - readability-*
  - modernize-* 
  - cppcoreguidelines-*
  - misc-* 
  - -readability-identifier-length
  - -modernize-use-trailing-return-type
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
...

